.featured-teasers {
    margin-top: 300px;
}

.teasers-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.teaser-image {
  overflow: hidden;
  position: relative;
}

.teaser-image img {
    height: auto;
    width: 100%;
  max-width: 650px;
    cursor: pointer;
    transition: transform 2s ease, filter 2s ease;
}

.teaser-image img:hover {
  transform: scale(1.05); /* Zoom in */
  filter: brightness(70%); /* Dull the image */
}

.teaser-text {
    color: white;
    padding: 1vw 1.8vw;
}

.teaser-text p {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.5vw;
}

.teaser-text h3 {
    font-weight: lighter;
    font-size: 2vw;
}

.featured-teaser-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  pointer-events: none; /* prevents interaction */
}

.featured-teaser-caption {
    color: white;
    padding: 20px 30px;
}

.featured-teaser-caption h4 {
    margin-bottom: 7px;
}

.featured-teaser-caption p {
    font-size: 24px;
}

@media (max-width: 1300px) {
    .teasers-grid {
        padding: 0 25px;
    }

    .teaser-text p {
        font-size: 15px;
        font-weight: 500;
    }
}

@media (max-width: 1280px) {
        .featured-teasers {
        margin-top: 50px;
    }
}